# Lec4

## import data

The data is from [zillow](https://www.zillow.com)

In [3]:
import pandas as pd

df = pd.read_csv("s3://ia340-2024fall-2-091702/house_price_raw.csv")
df.head()

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/fsspec/registry.py:279: UserWarning: Your installed version of s3fs is very old and known to cause
severe performance issues, see also https://github.com/dask/dask/issues/10276

To fix, you should specify a lower version bound on s3fs, or
update the current installation.

  warnings.warn(s3_msg)

,ID,price,bedroom,bathroom,house_type,lot_size,built_in,area,days,views,hoa
0,991,169900,4.0,4.0,condo,0,2008.0,1396.0,4,3,243
1,992,79900,2.0,2.0,condo,0,1986.0,1012.0,77,561,250
2,993,229900,3.0,2.0,single-family home,10018,2002.0,1541.0,77,1357,0
3,994,149900,4.0,2.0,single-family home,8712,1975.0,1810.0,5,1282,0
4,995,229900,3.0,2.0,single-family home,13504,1988.0,1456.0,76,947,0

In [4]:
df.shape

(120, 11)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          120 non-null    int64
 1   price       120 non-null    int64
 2   bedroom     67 non-null     float64
 3   bathroom    67 non-null     float64
 4   house_type  120 non-null    object
 5   lot_size    120 non-null    int64
 6   built_in    68 non-null     float64
 7   area        66 non-null     float64
 8   days        120 non-null    int64
 9   views       120 non-null    int64
 10  hoa         120 non-null    int64
dtypes: float64(4), int64(6), object(1)
memory usage: 10.4+ KB

In [6]:
df.describe()

,ID,price,bedroom,bathroom,lot_size,built_in,area,days,views,hoa
count,120.000000,1.200000e+02,67.000000,67.000000,1.200000e+02,68.000000,66.000000,120.000000,120.000000,120.000000
mean,1050.500000,2.442109e+05,3.328358,2.925373,2.169910e+05,1993.367647,2163.045455,53.291667,208.991667,78.766667
std,34.785054,1.826818e+05,0.911011,1.135694,8.128289e+05,22.112267,1164.397440,32.601592,328.136744,82.371237
min,991.000000,0.000000e+00,2.000000,1.000000,0.000000e+00,1924.000000,864.000000,3.000000,0.000000,0.000000
25%,1020.750000,1.500000e+05,3.000000,2.000000,6.835500e+03,1982.750000,1396.000000,17.750000,5.000000,0.000000
50%,1050.500000,1.750000e+05,3.000000,3.000000,1.742400e+04,1998.000000,1826.000000,71.000000,60.000000,50.000000
75%,1080.250000,2.865905e+05,4.000000,3.250000,2.178000e+04,2008.500000,2475.500000,77.000000,275.500000,160.000000
max,1110.000000,1.100000e+06,6.000000,6.000000,4.774176e+06,2018.000000,5955.000000,126.000000,1357.000000,300.000000

In [7]:
df.['price']

SyntaxError: invalid syntax (2141794433.py, line 1)

In [9]:
df.('price')

SyntaxError: invalid syntax (2584050140.py, line 1)

In [10]:
df['price']

0      169900
1       79900
2      229900
3      149900
4      229900
        ...
115    741000
116    780000
117     74900
118    349000
119    370000
Name: price, Length: 120, dtype: int64

In [11]:
df[0:10]

,ID,price,bedroom,bathroom,house_type,lot_size,built_in,area,days,views,hoa
0,991,169900,4.0,4.0,condo,0,2008.0,1396.0,4,3,243
1,992,79900,2.0,2.0,condo,0,1986.0,1012.0,77,561,250
2,993,229900,3.0,2.0,single-family home,10018,2002.0,1541.0,77,1357,0
3,994,149900,4.0,2.0,single-family home,8712,1975.0,1810.0,5,1282,0
4,995,229900,3.0,2.0,single-family home,13504,1988.0,1456.0,76,947,0
5,996,359000,5.0,4.0,single-family home,10130,1997.0,2903.0,79,951,0
6,997,164900,2.0,3.0,condo,0,1995.0,1800.0,54,342,21
7,998,218000,NaN,NaN,multi-family,10454,1979.0,2000.0,20,1178,0
8,999,394000,3.0,2.0,single-family home,18295,2001.0,2616.0,73,709,0
9,1000,349900,3.0,2.0,single-family home,204732,1967.0,3850.0,42,366,0

In [12]:
df.sort_values('price')

,ID,price,bedroom,bathroom,house_type,lot_size,built_in,area,days,views,hoa
58,1049,0,5.0,3.5,single-family home,23522,1987.0,NaN,83,155,0
30,1021,0,3.0,2.5,townhouse,1671,1994.0,1160.0,73,63,0
112,1103,0,3.0,3.0,single-family home,79279,1985.0,NaN,84,66,0
17,1008,69900,NaN,NaN,lot or land,8712,NaN,NaN,77,292,55
117,1108,74900,NaN,NaN,lot or land,204732,NaN,NaN,84,100,0
...,...,...,...,...,...,...,...,...,...,...,...
19,1010,699900,5.0,6.0,single-family home,18295,2007.0,5955.0,75,100,0
115,1106,741000,NaN,NaN,lot or land,2482920,NaN,NaN,20,0,0
116,1107,780000,NaN,NaN,lot or land,2613600,NaN,NaN,20,0,0
34,1025,1100000,3.0,2.0,single-family home,4356000,1970.0,2541.0,20,58,0
74,1065,1100000,3.0,1.0,single-family home,4138200,1932.0,900.0,48,17,0

In [13]:
df['house_type']

0                   condo
1                   condo
2      single-family home
3      single-family home
4      single-family home
              ...
115           lot or land
116           lot or land
117           lot or land
118           lot or land
119           lot or land
Name: house_type, Length: 120, dtype: object

In [14]:
df['house_type'].value_counts()

house_type
lot or land           52
single-family home    38
townhouse             15
condo                 14
multi-family           1
Name: count, dtype: int64

In [15]:
df[_____df['house_type']=='townhouse'____]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (624116723.py, line 1)

In [16]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 65 entries, 0 to 113
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          65 non-null     int64
 1   price       65 non-null     int64
 2   bedroom     65 non-null     float64
 3   bathroom    65 non-null     float64
 4   house_type  65 non-null     object
 5   lot_size    65 non-null     int64
 6   built_in    65 non-null     float64
 7   area        65 non-null     float64
 8   days        65 non-null     int64
 9   views       65 non-null     int64
 10  hoa         65 non-null     int64
dtypes: float64(4), int64(6), object(1)
memory usage: 6.1+ KB

In [17]:
df['year']=pd.to_datetime(df['built_in'], format = '%V')

ValueError: ISO week directive '%V' must be used with the ISO year directive '%G' and a weekday directive '%A', '%a', '%w', or '%u'.

In [18]:
df['year']=pd.to_datetime( df['built_in'], format = '%V )
df.head()

SyntaxError: unterminated string literal (detected at line 1) (3347440968.py, line 1)

In [19]:
df['year']=pd.to_datetime( df['built_in'], format = %V )
df.head()

SyntaxError: invalid syntax (3637697604.py, line 1)

In [20]:
df['unit_price']=df['price']/df['area']
df.head()

/tmp/ipykernel_8863/546902912.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['unit_price']=df['price']/df['area']

,ID,price,bedroom,bathroom,house_type,lot_size,built_in,area,days,views,hoa,unit_price
0,991,169900,4.0,4.0,condo,0,2008.0,1396.0,4,3,243,121.704871
1,992,79900,2.0,2.0,condo,0,1986.0,1012.0,77,561,250,78.952569
2,993,229900,3.0,2.0,single-family home,10018,2002.0,1541.0,77,1357,0,149.188838
3,994,149900,4.0,2.0,single-family home,8712,1975.0,1810.0,5,1282,0,82.817680
4,995,229900,3.0,2.0,single-family home,13504,1988.0,1456.0,76,947,0,157.898352

In [21]:
df['price'].mean()

294944.76923076925

In [22]:
df.groupby('house_type')['price'].mean()

house_type
condo                 153425.000000
single-family home    378236.111111
townhouse             227130.666667
Name: price, dtype: float64

In [25]:
avg_unit_price_houe_type = df.groupby('house_type')['unit_price'].mean()

In [26]:
avg_unit_price_house_type.plot.bar()

NameError: name 'avg_unit_price_house_type' is not defined

In [27]:
avg_price_per_year = df.groupby('year')['price'].mean()

KeyError: 'year'